DATABASE_URL="mysql://root:lecturer_tracker_password@localhost:3306/lecturer_github_tracker"
GITHUB_TOKEN=
API_PORT=4000
WEB_ORIGIN=http://localhost:3000
MYSQL_ROOT_PASSWORD=lecturer_tracker_password
MYSQL_DATABASE=lecturer_github_tracker
